div(class='control-group')
    button( onclick='render(0)') Circle
    button( onclick='render(100)') Annulus (Donut)
    button( onclick='render(0, Math.PI)') Sektor
    button( onclick='render(100, Math.PI)') Annulus Sektor

