div(class='control-group')
    button(onclick="renderAll(d3.axisBottom)") horizontal bottom
    button(onclick="renderAll(d3.axisTop   )") horizontal top
    button(onclick="renderAll(d3.axisLeft  )") vertical left
    button(onclick="renderAll(d3.axisRight )") vertical right

