extends layout

block content
    h1=title
    h2 Bsp #{id}

    // insert setup for individual examples
    case id
        when 6
            include category06.pug
        when 7
            include category07.pug
        when 8
            include category08.pug
        when 9
            include scaling09.pug
        when 10
            include timescale10.pug
        when 11
            include ordinalscale11.pug
        when 12
            include fontinterpol12.pug
        when 13
            include colorinterpol13.pug
        when 14
            include compoundinterpol14.pug
        when 15
            include axis15.pug
        when 18
            include rescale18.pug
        when 26
            include timer26.pug
        when 27
            include simpleshapestyle27.pug
        when 29
            include linecurve29.pug
        when 30
            include linetension30.pug
        when 32
            include linecurve29.pug
        when 34
            include arc34.pug
        when 35
        when 36
        when 37
        when 38
        when 39
        when 40
        when 41
        when 42
            include updateButton.pug
        when 43
            include flare43.pug
        when 44
            include tree44.pug
        when 45
            include flare43.pug
        when 46
            include dragstyle46.pug
        when 47
            include mousestyle47.pug
        when 48
            include dragstyle46.pug
        when 49
        when 50
            include forcestyle49.pug
        when 51
            include forcestyle49.pug
            include force51.pug
        when 52
            include forcestyle49.pug
        when 53
            include choropleth53.pug
        when 54
            include usa54.pug
        when 55
            include world55.pug


    // run examples
    script(defer src='/javascripts/bsp'+id+'.js' type='module')
