style(type="text/css").
    text {
        font-size: 11px;
        pointer-events: none;
    }

    text.parent {
        fill: steelblue;
    }

    text.child {
        display: none;
    }

    circle {
        fill: #ccc;
        stroke: #999;
        pointer-events: all;
    }

    circle.parent {
        fill: steelblue;
        fill-opacity: 0.1;
        stroke: steelblue;
    }

    circle.parent:hover {
        stroke-width: 0.5px;
    }

    circle.child {
        pointer-events: none;
    }