div(class='control-group')
    button(onclick='noForce()') No Force
    button(onclick='repulsion()') Repulsion
    button(onclick='gravity()') Gravity
    button(onclick='positionWithGravity()') Position with Gravity
    button(onclick='positionWithRepulsion()') Position with Repulsion
