h4 Line Tension:
div(class="control-group")
    button( onclick="render(0)") 0
    button( onclick="render(0.2)") 0.2
    button( onclick="render(0.4)") 0.4
    button( onclick="render(0.6)") 0.6
    button( onclick="render(0.8)") 0.8
    button( onclick="render(1)") 1

