div
    span
        b d3.v5 hat Categories 20, 20b, 20c entfernt!
    br
    br
div(id='alphabet' class='clear')
    span Ordinal Scale with Alphabet
    br
    span Mapping [1..10] to ["a".."j"]
    br

div(id='category10' class='clear')
    span Ordinal Color Scale Category 10
    br
    span Mapping [1..10] to category 10 colors
    br

div(id='paired' class='clear')
    span Ordinal Color Scale Category Paired
    br
    span Mapping [1..10] to category paired colors
    br

div(id='set3' class='clear')
    span Ordinal Color Scale Category Set 3
    br
    span Mapping [1..10] to category Set 3 colors
    br
