div(id='linear' class='cell')
    span n
div(id='linear-capped' class='clear')
    span 1 <= a*n + b <= 20
div(id='pow' class='clear')
    span n^2
div(id='pow-capped' class='clear')
    span 1 <= a*n^2 + b <= 10
div(id='log' class='clear')
    span log(n)
div(id='log-capped' class='clear')
    span 1 <= a*log(n) + b <= 10
