style.
    svg line {
        stroke: grey;
        stroke-width: 2;
    }

    svg circle {
        stroke: red;
        fill: none;
        stroke-width: 2;
    }

    svg rect {
        stroke: steelblue;
        fill: none;
        stroke-width: 2;
    }

    svg polygon {
        stroke: green;
        fill: none;
        stroke-width: 2;
    }

script.
    simpleShape();
